*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#home-container{
	background-image: url('././././img/home-bg.jpg');
	background-size: cover;
	color: #fff;
}
#home{
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: #000;
	opacity: 0.7;
}
.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #333;
}
.logo{
	color: #FFC312;
}
.nav-items-container{
	display: flex;
	list-style: none;
}
.nav-item{
	padding: 20px 25px;
}
.nav-link{
	text-decoration: none;
	font-size: 18px;
	color: #fff;
}
.call-to-action1{
	margin-top: 30vh;
	max-width: 70vw;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.call-to-action1 * {
	padding: 20px 10px;
}
.call-to-action1 a {
	align-self: center;
	border: 2px solid #0652DD;
	text-decoration: none;
	color: #fff;
}
.call-to-action1 a:hover {
	color: #fff;
	background: #0652DD;
	color: #fff;
}
span{
	color: #0652DD;
}
#nosotros{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nosotros-intro{
	display: flex;
}
.nosotros-text{
	width: 40vw;
	height: auto;
	margin-top: 10vh;
	margin-bottom: 5vh;
}
.nosotros-text * {
	padding: 10px;
}
.nosotros-img{
	background-image: url('././././img/about-img.jpg');
	width: 40vw;
	height: auto;
	position: relative;
	margin-top: 10vh;
	margin-bottom: 5vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.nosotros-trabajos{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nosotros-trabajos*{
	padding: 10px 0px;
}
.nosotros-trabajos h2{
	padding-bottom: 10px;
}
.trabajos{
	display: flex;
	padding: 20px 30px;
	flex-wrap: wrap;
}
.trabajo{
	padding: 20px 30px;
}
.trabajo h2{
	color: #0652DD;
}
#servicios{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#servicios *{
	padding: 10px 0px;
}
.servicios-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}
.servicio i{
	color:  #FFC312;
}
.servicio{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #333;
	border-bottom: 5px solid #FFC312;
	color:  #fff;
	text-align: center;
}
.servicio p {
 	text-align: center;
 }
.call-to-action2{
	background-image: url('././././img/call-to-action-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	min-width: 100vw;
	background-attachment: fixed;
}
.call-to-action-p-btn{
	display: flex;
	width:  100vw;
	flex-direction: column;
	background: #000;
	color: #fff;
	align-items: center;
	opacity: 0.8;
	margin-bottom: 0;
}
.call-to-action-p-btn p{
	margin-left: 10px;
	margin-bottom: 40px;
}
.call-to-action-p-btn a{
	border: 2px solid #fff;
	text-decoration: none;
	background: #EE5A24;
	color:  #000;
}
.portfolio-intro{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 30px;
}
.portfolio-items{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	background: #747d8c;
}
.porfolio-item{
	display: flex;
	flex-direction: column;
}
.portfolio-types{
	display: flex;
	list-style: none;
	padding: 20px 30px;
}
.portfolio-types li{
	background: #747d8c;
	color: #fff;
	padding: 20px 30px;
	border: 2px solid #fff;
}
.portfolio-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img-descripcion{
	display: block;
	color:  #fff;
	text-align: center;
	padding: 20px;
}
#equipo {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('././././img/fondo.jpg');
	background-size: cover;
}
.equipo-intro{
	text-align: center;
	padding: 20px 30px;
	color: #fff;
}
.equipo-miembros{
	display: grid;
	width: 100vw;
	padding: 50px 30px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));	
}
.equipo-miembro img{
	width: 90%;
	height: 90%;
}

#contact{
	background: #333;
	display: grid;
	height: 100vh;
	grid-template-columns: repeat(2, 1fr);
	color: #eee;
	grid-template-areas:
		'intro intro'
		'address contact';
	color: #eee;
}
.contact-intro {
	grid-area: intro;
	text-align: center;
	padding-top: 20px;
}
.contact-address{
	grid-area: address;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.contact-form{
	grid-area: contact;
}
.contact-form form{
	display: flex;
	flex-direction: column;
}

form *{
	padding: 15px;
	margin-bottom: 10px;
	max-width: 45vw;
}
form button{
	background:  #0652DD;
	border: 0;
}
.footer{
	text-align: center;
	background: #111;
	color: #ddd;
	min-height: 10vh;
	position: relative;
}
.footer p{
	align-self: center;
	padding-top: 10px;
}